#top-nav-container,
#main-nav-container {
  margin: 0px;
}
#top-nav-container {
  background: #f7fcfc;
}
#main-nav-container {
  padding: 0;
}
#top-nav-container .menu li {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 0;
}
#top-nav-container .menu li:not(:last-child) {
  border-right: 1px solid #81ceeb;
  padding-right: 1rem;
}

#main-nav {
  position: relative;
  background: #575757;
  width: 100%;
  z-index: 1091;
  height: 3.0625rem;
  border-radius: 0px;
}

#main-nav.ui.menu .main-menu-item {
  color: #e6e6e6;
}

#main-nav.ui.menu .main-menu-item.active {
  color: #575757;
  background: #ffffff;
}

#main-nav.ui.menu .main-menu-item:before {
  background: #f0f9fc;
}

#search-form .search-field {
  float: left;
  width: calc(100% - 30px);
  margin: 0;
}
#search-form .search-field input {
  border-radius: 0px;
  padding: 10px;
}
#search-form .search-button {
  float: left;
  padding: 10px;
  margin: 0;
  border-radius: 0px;
  height: 39px;

}