body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #575757;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}